<p>Hola <%= @resource.email %>!</p>

<p>Alguie ha solicitado un enlace para cambiar tu password. Puedes hacerlo a traves del siguiente link:</p>

<p><%= link_to 'cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no lo solicitaste por favor ignora este email.</p>
<p>Tu password no será cambiado hasta que ingreses al link y crees uno nuevo.</p>
